@import url("https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap");
@import url("https://fonts.googleapis.com/css?family=Prompt&display=swap");

html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
}

body {
  font-family: "Be Vietnam", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12.5px;
  letter-spacing: 0.7px;
}

.text-center {
  text-align: center;
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.m-1 {
width: 8%;
margin-left: 2px;
}
​
.m-2{
  width: 16%;
  margin-left: 2px;
}

.m-3{
  width: 24%;
  margin-left: 2px;
}
​
.m-4{
  width: 32%;
  margin-left: 2px;
}
​
.m-5{
  width: 40%;
  margin-left: 2px;
}
​
.m-6{
  width: 48%;
  margin-left: 2px;
}
​
.m-7{
  width: 56%;
  margin-left: 2px;
}
​
.m-8{
  width: 64%;
  margin-left: 2px;
}
​
.m-9{
  width: 72%;
  margin-left: 2px;
}
​
.m-10{
  width: 80%;
  margin-left: 2px;
}
​
.m-11{
  width: 88%;
  margin-left: 2px;
}
​
.m-12{
  width: 100%;
}

a {
  text-decoration: none;
}

.btn {
  display: block;
  font-weight: 520;
  line-height: 32px; /*48px*/
  position: relative;
  min-width: 80px;
  height: 32px; /*48px*/
  padding: 0 12px;
  text-align: center !important;
  white-space: nowrap;
  text-decoration: none;
  text-transform: none;
  border: none !important;
  /*border-radius: 6px!important;*/
  -webkit-box-shadow: inset 0 0 0 1px rgba(50, 50, 93, 0.1),
    0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 0 0 1px rgba(50, 50, 93, 0.1),
    0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.07);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "prompt";
  letter-spacing: 4px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

input {
  padding: 6px;
  font-size: 14px;
  border-radius: 3.5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

button {
  cursor: pointer;
}

button span {
  display: none;
}

header {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: 100px;
  background: white;
}

.header {
  width: 100%;
  height: 100px;
  align-items: flex-start;
  display: grid;
  grid-template-rows: 1fr 1fr 5fr;
  grid-template-columns: repeat(20, 1fr);
}

.header .logo {
  grid-row: 3;
  grid-column: 9 / span 6;
  margin-top: 12px;
}

.header img {
  width: 90px;
}

header .menu {
  padding: 1rem 1.3rem;
  position: fixed;
  top: 0.6rem;
  left: 0.6rem;
  background-color: rgba(128, 128, 128, 0.3);
  z-index: 99999;
  border-radius: 3px;
  cursor: pointer;
}

.menu .bar,
.menu .bar::before,
.menu .bar::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 1.6rem;
  background-color: rgba(0, 0, 0, 0.6);
  top: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  transition: 650ms;
}

.menu .bar:before {
  top: -0.5rem;
}

.menu .bar::after {
  top: 0.5rem;
}

.active .bar {
  background-color: transparent;
}

.active .bar {
  transform: rotate(30deg);
}

.active .bar::after {
  transform: rotate(-60deg);
}

.active .bar::after,
.active .bar::before {
  top: 0;
}

.sign-up {
  grid-row: 2;
  grid-column: 19;
  font-size: 25px;
  position: relative;
  top: -7px;
  color: grey;
}

.nav {
  width: 100%;
  height: 5rem; /* à voir */
  line-height: 3rem;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  transition: opacity 650ms;
  transform: scale(1);
  opacity: 1;
  text-align: center;
}

.overlay.menu-open {
  transform: scale(0);
  opacity: 1;
}

.nav .overlay ul {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.nav .overlay ul > ul {
  position: relative;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.nav .overlay ul li {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.overlay ul li a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
  transition: all 650ms;
}

.nav .overlay .drop-menu > a:after {
  content: "\00BB \0020";
  padding-left: 5px;
}

.nav .overlay .drop-menu {
  position: relative;
}

.nav .overlay ul li > ul {
  background-color: #1d2827;
  min-width: 13rem;
  height: auto;
  display: none;
  flex-direction: column;
}

.nav .overlay ul li > ul li {
  min-width: 100%;
}

.nav .overlay ul li:hover > ul {
  display: block;
}

.nav .overlay ul li > ul li a {
  color: white;
}

.nav .overlay ul li a.great-menu {
  display: none;
}

/*.header a.sub-btn {
  grid-row: 2;
  grid-column: 2 / span 6;
}
*/
main {
  min-height: 500px;
  width: 100%;
}

.main-grid {
  display: grid;
  grid-template-rows: 9em 1fr;
  grid-template-columns: repeat(20, 1fr);
}

/* hakim */

.pagination a.link {
  display: block;
  border: 1px solid black;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.articles {
  display: flex;
  flex-direction: column;
}

.articles input {
  text-align: center;
  margin: auto;
  display: block;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 78%;
}

.icon-search {
  position: relative;
  width: 287px;
  margin: 25px auto;
}
.icon-search.large {
  display: none;
}

.categories p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categories p a {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px 5px 10px;
  border-radius: 100px;
  display: block;
  margin-top: 10px;
  margin-left: 5px;
  color: black;
  transition: background-color 0.2s;
}

.categories p a:hover {
  background-color: rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.bar-input {
  position: absolute;
  z-index: 3;
  top: 15px;
  right: 30px;
  color: rgba(0, 0, 0, 0.5);
}

img.multiples-photos {
  width: 100%;
}

.section-articles {
  margin-top: 30px;
}

.section-articles article {
  padding-bottom: 20px;
}

.popular a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: text-decoration 0.3s;
}

aside {
  padding-bottom: 25px;
}

.popular a:hover {
  text-decoration: underline;
}

.title-pictures {
  text-align: center;
}

.title-pictures span {
  margin: 10px auto;
  width: 40%;
}

.historique ul {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  position: relative;
  top: -10px;
}

.historique ul li {
  padding-left: 7px;
}

.section-articles a {
  margin: 10px auto;
  width: 50px;
}

/* */

section.section-slider {
  width: 100%;
  height: 250px;
}

img.image-slider {
  display: none;
}


.partnerAlign {
  margin-top: 45px;
}

/* */
section.section-bg {
  width: 100%;
  height: 9em;
  position: relative;
  grid-row: 1;
  grid-column: 1 / span 20;
}

.section-bg img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
}

.section-bg .bg-black {
  width: 100%;
  height: 100%;
  background-color: #1d2827;
  opacity: 0.7;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
}

.section-bg .bg-title {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0px;
  color: white;
}

.section-bg .bg-title h1 {
  position: relative;
  top: 40px;
  font-size: 16px;
}

div.content-component {
  grid-row: 2;
  grid-column: 2 / span 18;
}
.bg-theme-3 h1 span,
.bg-theme-3 h2 span,
.bg-theme-3 h3 span,
.bg-theme-3 h4 span,
.bg-theme-3 h5 span,
.bg-theme-3 h6 span {
  border: 2px solid #1d2827;
}

.btn.form-element.padding-b-10 {
  padding-bottom: 35px;
}

.content-two-block {
  display: flex;
  flex-direction: column;
}

.our-contact li {
  padding: 7px 0px 7px 0px;
}

.our-contact i {
  font-size: 20px;
}

.contact-form {
  padding: 10px 0px 30px 0px;
}

.map iframe {
  border: 0;
  width: 100%;
  height: 240px;
}

.form-group {
  padding: 5px 0px 5px 0px;
}

.form-element {
  display: block;
  border-radius: initial;
  padding: 6px;
  font-size: 16px;
  color: rgba(128, 128, 128, 0.9);
  width: 97%;
  margin-top: 5px;
}
/**/


/* Alex */
.first-presentation {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}

.mission li {
  padding-bottom: 15px;
}
.first-presentation img {
  width: 100%;
  height: 200px;
}
.block-about {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.block-about p {
  padding: 15px;
}

.first-presentation .p h2 span {
  margin: auto;
}

/* Alex */

/*Sebastien*/
.HelpTitlePartners {
  text-align: center;
  padding-bottom: 80px;
}

.groupeLogoPartners .groupeLogoPartnersHoriz {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 150px;
}
.logoPartner {
  text-align: center;
  width: 46%;
}
.logo-photo {
  width: 99%;
  height: 74px;
  margin-bottom: 8px;
}
.NameBrandPartner {
  font-size: 11px;
  position: relative;
  top: -20px;
  text-align: center;
}
.logoPartner2 {
  display: flex;
  width: 100px;
  height: 100px;
  background: blue;
}
.logoPartner3 {
  display: flex;
  width: 100px;
  height: 100px;
  background: yellow;
}
.logoPartner4 {
  display: flex;
  width: 100px;
  height: 100px;
  background: green;
}
.logo-photo {
  width: 45%;
  height: 50px;
}

/* */
/* YOAN */
.block-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}

.block-content .img{
  width: 100%;
  text-align: center;
}

.block-content .img img{
  width: 100%;
}

.block-content .blockquote{
  width: 100%;
  text-align: center;
}

.block-content .blockquote blockquote{
  margin: 0;
  padding: 0;
}

.content-component h2 span{
  margin: auto;
}
/* */

div.newsletters {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(20, 1fr);
  padding: 40px 0px 40px 0px;
}

div.newsletters .container-newsletters {
  grid-row: 1;
  grid-column: 2 / span 18;
}

div.newsletters .container-newsletters form,
footer .newsletters-footer form {
  display: flex;
}

div.newsletters .container-newsletters form i,
footer .newsletters-footer form i {
  font-size: 30px;
}

div.newsletters .container-newsletters input,
footer .newsletters-footer input {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
  border-right-color: #f42d1a;
}

footer {
  width: 100%;
  min-height: 120px;
  align-items: flex-end;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(20, 1fr);
  padding: 10px 0px 10px 0px;
}

footer .logo-footer {
  display: none;
}

footer h2,
footer h1,
footer h3,
footer h4,
footer h5,
footer h6 {
  text-transform: uppercase;
  font-size: 13px;
}

footer .container-footer {
  grid-row: 1;
  grid-column: 2 / span 18;
  display: flex;
  flex-direction: column;
}

footer .about-footer,
footer .contact-footer,
footer .reseau-footer,
footer .gallery-footer {
  padding: 12px 0px 8px 0px;
}

footer .newsletters-footer {
  display: none;
}

footer .gallery-footer .block-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .container-footer .down-logo-footer {
  display: none;
}

footer .gallery-footer .block-gallery img {
  width: 48.4%;
  margin: 2px;
}

footer .gallery-footer .block-gallery img.screen-large {
  display: none;
}

footer .reseau-footer {
  grid-row: 4;
  grid-column: 2 / span 18;
}

footer .reseau-footer i {
  display: inline-block;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
  transition: background-color 0.8s, color 0.8s;
}

footer .reseau-footer i.linkedin {
  font-size: 1.98rem;
  position: relative;
  top: 2px;
  color: #1d2827;
  background-color: white;
  padding: 0;
  margin-left: 3px;
}

footer .reseau-footer i.twitter,
footer .reseau-footer i.youtube {
  margin-left: 3px;
}

footer .reseau-footer i.facebook:hover {
  background-color: #3b5998;
}

footer .reseau-footer i.twitter:hover {
  background-color: #1da1f2;
}

footer .reseau-footer i.linkedin:hover {
  color: #0077b5;
  background-color: white;
}

footer .reseau-footer i.youtube:hover {
  background-color: #ff0000;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  display: block;
  border: 2px solid #f42d1a;
  width: 50px;
  margin-top: 2px;
}

footer li,
.our-contact i {
  padding: 5px 0px 5px 0px;
}

footer li i {
  font-size: 15px;
}

div.copyright {
  background-color: rgba(0, 0, 0, 0.9);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(20, 1fr);
  padding: 15px 0px 1px 0px;
  color: #ccc;
}

div.copyright .content {
  grid-row: 1;
  grid-column: 2 / span 18;
}
.sign-up-large {
  display: none;
}
.sign-up-large-desktop {
  display: none;
}

@media (min-width: 768px) {
  body {
    font-size: 13.5px;
    letter-spacing: 1px;
  }

  .d-1 {
    width: 8%;
    margin-left: 2px;
    }
    ​
    .d-2{
      width: 16%;
      margin-left: 2px;
    }
    
    .d-3{
      width: 24%;
      margin-left: 2px;
    }
    ​
    .d-4{
      width: 32%;
      margin-left: 2px;
    }
    ​
    .d-5{
      width: 40%;
      margin-left: 2px;
    }
    ​
    .d-6{
      width: 48%;
      margin-left: 2px;
    }
    ​
    .d-7{
      width: 56%;
      margin-left: 2px;
    }
    ​
    .d-8{
      width: 64%;
      margin-left: 2px;
    }
    ​
    .d-9{
      width: 72%;
      margin-left: 2px;
    }
    ​
    .d-10{
      width: 80%;
      margin-left: 2px;
    }
    ​
    .d-11{
      width: 88%;
      margin-left: 2px;
    }
    ​
    .d-12{
      width: 100%;
    }



  .sign-up-large a {
    transition: color 0.4s;
  }

  .sign-up-large a:hover {
    cursor: pointer;
    color: #f42d1a;
  }

  .sign-up {
    display: none;
  }

  button span {
    display: inline-block;
    font-weight: bold;
  }

  div.newsletters .container-newsletters button,
  footer .newsletters-footer button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div.newsletters .container-newsletters form i,
  footer .newsletters-footer form i {
    font-size: 30px;
  }

  .nav .overlay ul li a.great-menu {
    display: block;
  }

  .clearfix {
    margin-top: 120px;
  }

  header {
    position: fixed;
    top: 0;
    display: grid;
    height: 120px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    z-index: 9999;
  }

  .header {
    height: auto;
    grid-row: 1;
    grid-column: 1;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(20, 1fr);
  }

  .sign-up-large {
    display: block;
    grid-row: 1;
    grid-column: 14 / span 6;
    position: relative;
    top: 18px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  .header .logo {
    grid-row: 1;
    grid-column: 2;
    margin-top: 12px;
  }

  .header img {
    width: 130px;
  }

  .header a.sub-btn {
    display: none;
  }

  .nav {
    grid-row: 2;
    grid-column: 1;
    height: 2.8rem;
    display: flex;
    justify-content: space-between;
    line-height: 2.5rem;
    width: 100%;
  }

  .nav .overlay {
    background: none;
    position: initial;
    transform: initial;
    opacity: initial;
    width: 100%;
  }

  .nav .overlay ul {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    flex-wrap: wrap;
  }

  .nav .overlay ul li a {
    color: black;
    letter-spacing: 1px;
  }

  .nav .overlay ul li > ul {
    position: absolute;
    font-size: 12px;
  }

  header .menu {
    display: none;
  }

  section.section-slider {
    width: 100%;
    height: 450px;
  }

  .content-two-block .container {
    width: 80%;
  }

  .partnerAlign {
    margin-top: 55px;
  }

  /* */

  .main-grid {
    grid-template-rows: 12.5em 1fr;
  }

  /* hakim */

  .pagination a.link {
    width: 26.5px;
    height: 25px;
  }

  .articles {
    flex-direction: row;
  }

  .icon-search.small {
    display: none;
  }

  .articles input {
    margin-top: 5px;
  }

  .icon-search {
    width: 100%;
    margin-top: 100px;
    padding-bottom: 30px;
  }
  .icon-search.large {
    display: block;
  }

  .categories p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .categories p a {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    display: block;
    margin-top: 10px;
    margin-left: 5px;
    color: black;
    transition: background-color 0.2s;
  }

  .categories p a:hover {
    background-color: rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }

  img.multiples-photos {
    width: 100%;
  }

  .section-articles {
    flex-grow: 1;
    padding-right: 80px;
    padding-bottom: 80px;
  }

  .section-categories {
    flex-grow: 1;
    padding-left: 10px;
  }

  .section-categories h2 {
    text-align: center;
  }

  .section-articles article {
    padding-bottom: 20px;
  }

  .popular a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: text-decoration 0.3s;
  }

  aside {
    padding-bottom: 25px;
  }

  .popular a:hover {
    text-decoration: underline;
  }

  .title-pictures {
    text-align: center;
  }

  .title-pictures span {
    margin: 10px auto;
    width: 40%;
  }

  .historique ul {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    position: relative;
    top: -10px;
  }

  .historique ul li {
    padding-left: 7px;
  }

  .section-articles a {
    margin: 10px auto;
    width: 50px;
  }

  /* */

  /*Sebastien*/
  .logoPartner {
    width: 28%;
    margin-bottom: 50px;
  }
  /* */

  section.section-bg {
    width: 100%;
    height: 12.5em;
    position: relative;
  }

  .section-bg .bg-title h1 {
    position: relative;
    top: 80px;
    font-size: 20px;
  }

  .bg-theme-3 h1 span,
  .bg-theme-3 h2 span,
  .bg-theme-3 h3 span,
  .bg-theme-3 h4 span,
  .bg-theme-3 h5 span,
  .bg-theme-3 h6 span {
    border: 2px solid #1d2827;
  }

  .btn.form-element.padding-b-10 {
    padding-bottom: 35px;
  }

  .content-two-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .our-contact li {
    padding: 7px 0px 7px 0px;
  }

  .our-contact i {
    font-size: 20px;
  }

  .our-contact,
  .contact-form {
    flex-grow: 1;
    padding-top: 15px;
  }

  .contact-form {
    padding: 15px 0px 30px 0px;
  }

  .map iframe {
    border: 0;
    width: 100%;
    height: 240px;
  }

  .form-group {
    padding: 5px 0px 5px 0px;
  }

  .form-element {
    display: block;
    border-radius: initial;
    padding: 6px;
    font-size: 16px;
    color: rgba(128, 128, 128, 0.9);
    width: 97%;
    margin-top: 5px;
  }
  /**/

  
  /* Alex */
  .first-presentation {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }

  .mission li {
    padding-bottom: 15px;
  }
  .first-presentation img {
    width: 45%;
    height: 250px;
  }

  .first-presentation .p {
    width: 45%;
  }
  .block-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 30px;
  }

  .block-about p {
    width: 40%;
    padding: 20px;
  }

  /* Alex */

  .block-content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .block-content .img.lg{
    width: 49%;
  }

  .block-content .img.inverse {
    order: 2;
  }

  .block-content .blockquote.inverse {
    order: 1;
  }
  .block-content .blockquote.lg {
    width: 49%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  footer {
    grid-template-columns: repeat(22, 1fr);
    padding-bottom: 4rem;
  }

  div.newsletters .container-newsletters input,
  footer .newsletters-footer input {
    width: 48%;
  }

  footer .gallery-footer .block-gallery img.screen-large {
    display: initial;
  }

  footer .gallery-footer .block-gallery img {
    width: 32%;
  }

  footer .container-footer {
    grid-row: 1;
    grid-column: 3 / span 18;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .container-footer .about-footer,
  footer .container-footer .contact-footer,
  footer .container-footer .gallery-footer,
  footer .container-footer .reseau-footer {
    width: 47%;
  }

  footer .container-footer .logo-footer img {
    width: 9rem;
  }

  footer .container-footer .logo-footer {
    display: block;
    width: 100%;
    order: 1;
  }

  footer .container-footer .about-footer {
    order: 2;
  }

  footer .container-footer .contact-footer {
    order: 4;
  }
  footer .container-footer .gallery-footer {
    order: 3;
  }

  footer .container-footer .reseau-footer {
    order: 5;
  }

  footer li i {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 13px;
  }

  .clearfix {
    margin-top: 100px;
  }

  header {
    height: 100px;
    grid-template-rows: 1fr 1fr 1fr 7fr;
    grid-template-columns: 1fr 1fr 2fr 1fr 16fr 1fr 1fr;
  }

  .header {
    display: flex;
    padding: 0 12px;
    align-content: flex-start;
    align-items: center;
    grid-row: 4;
    grid-column: 3;
  }

  .sign-up-large {
    display: none;
  }

  .sign-up-large-desktop {
    display: block;
    grid-row: 1;
    grid-column: 5;
    position: relative;
    top: 18px;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;
    font-size: 12px;
  }

  .sign-up-large-desktop a {
    padding: 0px 15px 0px 15px;
    transition: color 0.6s;
  }

  .sign-up-large-desktop a:hover {
    color: #f42d1a;
  }
  .nav {
    grid-row: 4;
    grid-column: 5;
    justify-content: space-around;
  }

  .main-grid {
    grid-template-rows: 15.5em 1fr;
    grid-template-columns: repeat(22, 1fr);
  }

  .our-contact .container{
    width: 60%;
  }

  .contact-form input,
  .contact-form textarea {
    width: 87%;
  }

  .contact-form button.btn {
    width: 89.7%;
  }

  /*Sebastien*/
  .logoPartner {
    width: 18%;
    margin-bottom: 50px;
  }

  section.section-bg {
    grid-column: 1 / span 22;
  }

  div.content-component {
    grid-row: 2;
    grid-column: 3 / span 18;
  }

  section.section-slider {
    width: 100%;
    height: 540px;
  }

  section.section-bg {
    height: 15.5em;
  }

  .map iframe {
    height: 300px;
  }

  .first-presentation img {
    height: 320px;
  }

  div.newsletters {
    display: none;
  }

  footer .container-footer .logo-footer img {
    width: 128px;
  }

  footer .container-footer .logo-footer {
    width: 128px;
    padding-right: 17px;
  }

  footer .container-footer .about-footer {
    width: 30%;
  }
  footer .container-footer .contact-footer {
    width: 22%;
    padding-left: 2rem;
    order: 3;
  }
  footer .container-footer .gallery-footer {
    width: 30%;
    order: 4;
  }

  footer .container-footer .down-logo-footer {
    display: block;
    width: 105px;
    order: 5;
  }

  footer .container-footer .reseau-footer {
    width: 30%;
    order: 7;
  }

  footer .newsletters-footer {
    display: block;
    width: 52%;
    order: 6;
  }

  h1 span,
  h2 span,
  h3 span,
  h4 span,
  h5 span,
  h6 span {
    width: 60px;
    margin-top: 2px;
  }

  footer h2,
  footer h1,
  footer h3,
  footer h4,
  footer h5,
  footer h6 {
    font-size: 17px;
  }

  footer li i {
    font-size: 23px;
  }

  div.copyright {
    grid-template-columns: repeat(22, 1fr);
  }
  
  div.copyright .content {
    grid-column: 3 / span 18;
  }
}
